name: CI Pipeline

on:
  push:
    branches: [dev]
  pull_request:
    branches: [main]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install flake8 bandit safety

      - name: Lint code
        run: flake8 .

      - name: Security scan (SAST - Bandit)
        run: bandit -r app

      - name: Dependency vulnerability scan
        run: safety check

      - name: Build Docker image
        run: docker build -t fastapi-devsecops .

